/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	background: #f1f6fe;
	font-family: 'Roboto', sans-serif;
	color: #546a79;
	font-size: 14px;
}

/* Left & Right */

.left {
	background: #303d50;
	width: 111.4%;
	height: 89.91vh;
}

.right {
	width: 80%;
}


/* Aside */
.aside {
	position: fixed;
	top: 86px;
	left: 0;
	right: 0;
	z-index: 5;

	width: 17.95%;
	height: 89.91vh;
	
}


/* Header */
.header {
	position: fixed;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	width: 100%;

	box-shadow: 0 -1px 15px rgba(12, 51, 92, .6);
}

.header__left {
	background: #303d50;
	width: 20%;
}

.header__right {
	background: #fff;
	flex: 1 1 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	font-family: 'Norican', cursive;
	color: #fff;
	font-size: 36px;

	padding: 25px 30px;
}

.header__user {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
}

.header__user-photo {
	cursor: pointer;
	z-index: 3;
	border-radius: 50%;
	border: 5px solid #ebf3fa;
}

.header__user-name {
	cursor: pointer;
	margin: 0 0 0 -25px;
	position: relative;
	white-space: nowrap;
	border-radius: 15px;
	background: #ebf3fa;
	padding: 7px 35px 5px;
}

.header__user-name:after {
	content:'';
	display: block;
	width: 5px;
	height: 5px;

	border-top: 1px solid #4fc1ee;
	border-right: 1px solid #4fc1ee;

	position: absolute;
	top: 50%;
	right: 13px;

	transform: translateY(-50%) rotate(135deg);
}


.header__logout {
	font-size: 12px;
	font-weight: 700;

	margin: 0 35px 0 10px;
	border-radius: 15px;
	background: #4fc1ee;
	color: #fff;
	padding: 7px 15px;
}

.header__logo-blue {
	color: #4fc1ee;
}


/* Search */
.search {
	display: flex;
	width: 75%;
}

.search__items {
	display: flex;

}

.search__input {
	font-family: 'Open Sans', sans-serif;
	color: #546a79;
	font-size: 20px;
	min-width: 320px;
	width: 80%;
	height: 50px;
}

.search__input::placeholder {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	color: #d1d8e2;
	font-size: 18px;
}

.search__buttton {
	padding: 10px 20px;
	background: #fff;
	color: #d1d8e2;
	font-size: 24px;
}


/* Nav */
.nav {
	padding-top: 15px;
}

.nav__link {
	margin-bottom: 5px;
	position: relative;
	display: block;
	color: #7f96a3;
	padding: 15px 80px 15px 80px;
}

.nav__link:hover {
	background: #243040;
}

.nav__link:last-child {
	margin-bottom: 0;
}

.link__icon {
	margin: 3px 10px -3px 0;
	color: #4fc1ee;
	font-size: 24px;

	position: absolute;
	top: 5px;
   left: 35px;
	z-index: 1;
}


/* Footer */
.footer {
	border-top: 1px solid #4f5f6f;
   width: 20%;
   height: 30px;

   position: fixed;
   bottom: 25px;
   left: 0;
   z-index: 500;
}


/* Copyright */
.copyright {
	/*position: absolute;
	top: 40%;
	left: 27%;
	z-index: 500;*/
	margin: 22px 60px;

	font-size: 12px;
	color: #4f5f6f;
}


/* Main */
.main {
	margin-left: 20%;
}


/* Card */
.card {

}

.card__items {
	display: flex;
	justify-content: space-between;
}

.card__item {
	display: flex;
	background: #fff;
	margin: 20px 10px 0 10px;
	border: 1px solid #e4ebf1;
}

.card__item-icon {
	background: #f9fafb;
	color: #4fc1ee;
	font-size: 30px;
	margin-bottom: 25px;

	width: 71px;
	height: 71px;

	border-right: 1px solid #e4ebf1;
	border-bottom: 1px solid #e4ebf1;
}

.card__item-num {
	margin: 20px 50px 5px 16px;
	color: #546a79;
	font-size: 24px;
}

.card__item-title {
	margin: 0 0 0 14px;
	color: #b4bfd1;
}

.padding-1 {
	padding: 18px;
}

.padding-2 {
	padding: 20px 22px;
}

.padding-3 {
	padding: 20px 18px;
}

.padding-4 {
	padding: 20px 24px;
}


/* Graph */
